.weather {
  background: rgb(193, 229, 234);
  border: 1px rgb(193, 229, 234) solid;
  border-radius: 10px;
}
.weather .btn-primary {
  color: rgb(14, 119, 133);
  background: rgb(253, 254, 254);
  border: none;
}
