.weather {
  background: rgb(193, 229, 234);
  border: 1px rgb(193, 229, 234) solid;
  border-radius: 40px;
}
.weather .btn-primary {
  color: rgb(14, 119, 133);
  background: rgb(253, 254, 254);
  margin-left: -85px;
  border: none;
  padding: 8px 15px;
  border-radius: 30px;
}
form {
  margin: 30px 60px 30px 40px;
}

.search {
  padding: 8px 70px 8px 10px;
  border-radius: 30px;
  border: none;
  max-width: 100%;
}
.weather .theCity h1 {
  font-size: 35px;
  color: rgb(14, 119, 133);
}
.weather .whole {
  margin-left: 30px;
}
.weather .mt-5 {
  margin-top: 100px !important;
}
.weather .btn-primary:hover {
  background: rgb(14, 119, 133);
  color: white;
}
