.weather {
  background: rgb(193, 229, 234);
  border: 1px rgb(193, 229, 234) solid;
  border-radius: 40px;
  color: rgb(14, 119, 133);
  font-size: 15px;
}
.weather .btn-primary {
  color: rgb(14, 119, 133);
  background: #ffffff;
  margin-left: -85px;
  border: none;
  padding: 8px 15px;
  border-radius: 30px;
}
form {
  margin: 40px 60px 30px 40px;
}

.search {
  padding: 8px 70px 8px 10px;
  border-radius: 30px;
  border: none;
  max-width: 100%;
}
.weather .theCity h1 {
  font-size: 30px;
  color: rgb(9, 96, 107);
}

.weather .whole {
  margin-left: 50px;
  margin-bottom: 40px;
}
.weather .mt-5 {
  margin-top: 100px !important;
}
.weather .btn-primary:hover {
  background: rgb(14, 119, 133);
  color: white;
}

.weather .theCity .temp {
  margin-top: 20px;
  margin-left: -30px;
}
.weather .theCity img {
  height: 75px;
  margin-top: -15px;
}
.weather .theCity .temp .degree {
  display: inline-block;
  font-size: 40px;
  margin: -5px 0px 0px 3px;
  font-weight: 600;
  color: rgb(9, 96, 107);
}
.weather .theCity .temp .celsius {
  display: flex;
  margin: -73px 0px 0px 120px;
}
.weather .descript {
  font-weight: 500;
}
.weather .descript ul li {
  list-style: none;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
